//start color setup
$primaryColor: #9A031E;
$secondaryColor: #086788;
$skillColor: #FED766;
$bgColor: #FFFAFF;
$titleColor: #4d4d4d;

//end color setup

// start mixin
@mixin ease {
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

// end mixin