@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import 'config';



//start global setup
* {
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: $bgColor;
    font-family: 'Roboto', 'Microsoft JhengHei', sans-serif;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 3%;
}

h1,h2,h3,h4,h5,h6,p,ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}
//end global setup

//start header
header {
    padding: 3rem 0;

    .container {
        display: flex;
        align-items: flex-end;

        .author {
            text-transform: capitalize;
            color: $titleColor;
            margin-left: 5%;

            .name {
                font-size: 3rem;
                font-weight: 500;
            }

            .authorIntro {
                font-weight: 500;
            }
        }

        .navBar {
            margin-left: 2rem;

            a {
                padding: 0 1rem;
                font-weight: 600;
                font-size: 0.9rem;
                text-transform: uppercase;
                color: #999;
                @include ease;

                &:focus ,&:hover {
                    color: $secondaryColor;
                }
            }
        }
    }
}
//end header

// start home page
#home {
    margin: 5rem 0;

    .container {
        display: flex;

        .portrait {
            img {
                max-width: 380px;
                height: auto;
                border-radius: 50%;
            }
        }

        .portraitMobile {
            display: none;
        }

        .aboutMe {
            margin-left: 5%;
            color: #888;

            h2,h3 {
                color: $titleColor;
            }

            h2 {
                font-size: 5rem;
            }

            h3 {
                font-size: 3rem;
                font-weight: 300;
            }

            p {
                line-height: 1.3rem;
            }

            .myBar {
                display: flex;
                flex-wrap: wrap;
                margin: 1.5rem 0;
                
                .circle {
                    width: 130px;
                    height: auto;
                    margin-right: 1.5rem;
                    margin-top: 1.5rem;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 130px;
                    font-weight: 300;
                    font-size: 0.9rem;
                    text-transform: uppercase;
                    background: $primaryColor;
                    color: #fff;
                    @include ease;

                    &.work {
                        background: $secondaryColor;
                    }

                    &.skills {
                        background: $skillColor;
                    }

                    &:focus ,&:hover {
                        opacity: 0.8;
                        transform: scale(1.1) rotate(360deg);
                    }
                }
            }
        }
    }
}
// end home page

// start resume page
#resume {
    margin-bottom: 5rem;

    .container {
        display: flex;
        
        .resumeInfo {
            width: 65%;
            margin: 0 5%;

            h1 {
                color: $titleColor;
                font-size: 5rem;
                font-weight: 400;
                text-transform: uppercase;
            }

            hr {
                margin: 2rem 0;
            }

            .intro {
                display: flex;
                align-items: center;

                .circle {
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    text-align: left;
                    padding: 40px 10px;
                    margin-right: 1.5rem;
                    font-size: 0.9rem;
                    background: $primaryColor;
                    color: #fff;

                    h3 {
                        font-weight: 400;
                    }

                    
                }

                .context {
                    flex: 8;

                    h4 {
                        color: $titleColor;
                        font-weight: 700;
                        line-height: 1.4rem;
                        margin-bottom: 0.3rem;
                    }

                    p {
                        color: #4D4D4D;
                        line-height: 1.6rem;
                    }

                    
                }

                &.education {
                    .circle {
                        padding: 50px 10px;
                    }
                }
            }

            .intro.workExp {
                .context {
                    .workPart {
                        margin-bottom: 2rem;
                    }

                    .workPart.workPart3 {
                        margin-bottom: 0.2rem;
                    }
                }
            }
        }

        .mySkill {
            width: 20%;
            margin-right: 5%;
            margin-top: 8rem;

            .fas {
                    width: 40px;
                    height: 40px;
                    background: $secondaryColor;
                    color: #fff;
                    font-size: 1.5rem;
                    border-radius: 50%;
                    text-align: center;
                    padding-top: 0.5rem;
            }

            h4 {
                text-transform: capitalize;
                color: $titleColor; 
                font-weight: 400;
                margin: 1rem 0;
            }

            li {
                color: #4D4D4D;
                text-transform: uppercase;
                font-size: 0.9rem;
                line-height: 1.3rem;
            }

            .skill {
                margin-bottom: 3rem;
            }

            
        }
        
    }
}
// end resume page

// start project page
#project {
    margin: 3rem 0;

    .projectLatest {
        padding: 0 5%;

        h1 {
            color: $titleColor;
            font-size: 5rem;
            font-weight: 400;
            text-transform: uppercase;
        }

        .project {
            display: flex;
            margin: 3rem 0;

            .slideImg {
                margin-right: 5%;
                flex: 5;

                img {
                    width: 100%;
                    @include ease;  


                    &:focus ,&:hover {
                    transform: translate(10px, -10px);
                    box-shadow: -10px 10px 25px 5px rgb(194, 194, 194);
                    -webkit-filter: opacity(85%);
                    filter: opacity(85%);
                }
                }

                
            }

            .projectIntro {
                flex: 5;

                .circle {
                    width: 96px;
                    height: 96px;
                    background: $secondaryColor;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 96px;

                    h3 {
                        color: #fff;
                        font-weight: 400;
                        font-size: 1.1rem;
                    }
                }

                h3 {
                    color: $titleColor;
                    font-size: 1.1rem;
                    font-weight: 600;
                    margin-bottom: 1.5rem;
                }

                p {
                    color: #4D4D4D;
                    line-height: 1.3rem;
                }

                hr {
                    margin: 1rem 0;
                }

                li {
                    margin-bottom: 0.5rem;
                    line-height: 1.5rem;
                    color: #4D4D4D;
                }
            }
        }
    }
    
}
// end project page

// start contact page
#contact {
    margin-top: 3rem;
    margin-bottom: 8rem;

    .container {
        display: flex;
        justify-content: space-between;

        .contactInfo {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 5%;

            h1 {
                font-size: 5rem;
                font-weight: 400;
                margin-right: 2rem;
                color: $titleColor;
            }

            .socialContact {
                .contactIcon {
                    margin-bottom: 1rem;

                    .fab {
                        width: 30px;
                        height: 30px;
                        color: $bgColor;
                        background: #000;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 30px;
                        @include ease;

                        &:focus ,&:hover {
                            opacity: 0.7;
                        }
                    }
                }

                li {
                    font-size: 0.8rem;

                    span {
                        font-size: 0.9rem;
                        font-weight: 500;
                    }
                }
            }
        }
        
        .contactForm {
            margin-right: 5%;
            width: 50%;

            form {
                display: flex;
                flex-direction: column;

                input, .contactMsg {
                    background: $primaryColor;
                    resize: none;
                    margin-bottom: 0.3rem;
                    padding: 0.6rem;
                    outline: none;
                    border: none;
                    
                    &::placeholder {
                        color: #fff;
                        font-size: 0.9rem;
                        letter-spacing: 0.1rem;
                    }
                }

                .btnSend {
                    width: 4rem;
                    margin-left: auto;
                    padding: 5px 0;
                    font-size: 1rem;
                    background: $secondaryColor;
                    color: #fff;
                    border: none;
                    cursor: pointer;

                    &:focus ,&:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}

// end contact page

// start footer
footer {
    background: $primaryColor;
    padding: 2rem 0;
    margin-bottom: 3rem;

    .container {
        display: flex;
        justify-content: space-between;

        .info {
            display: flex;
            color: #fff;
            font-size: 0.5rem;

            .fas, .far {
                width: 2.5rem;
                height: 2.5rem;
                margin-right: 1rem;
                font-size: 1.5rem;
                line-height: 2.5rem;
                border-radius: 50%;
                text-align: center;
                color: $primaryColor;
                background: $secondaryColor;
            }

            .socialMedia {
                margin-top: 0.5rem;

                a {
                    margin-right: 0.5rem;

                    .fab {
                        color: #fff;
                        font-size: 1rem;
                        @include ease;

                        &:focus ,&:hover {
                            transform: scale(1.3);
                        }
                    }
                }

                
            }
            

            p {
                line-height: 1.2rem;
            }
        }
    }
}

// end footer

@import 'mobile';